<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- .Net really likes to have this section here, so don't just go and delete it. kthx. -->
  </configSections>
  <appSettings>
    <!-- Path to your private key ring. -->
    <add key="secureKeyRing" value="C:\Data\Keys\private_keys.gpg" />
    <!-- Path to your public key ring. -->
    <add key="publicKeyRing" value="C:\Data\Keys\public_keys.gpg" />
    <!--This is the path to the file you want to decrypt. -->
    <add key="encryptedSourceFile" value="C:\Data\Files\SuperSecret\Secret\Squirrel.txt.gpg" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>